/*General*/
Body {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
  background-color: #eac5d8;
  color: black;
  text-align: center;
}

.view-25
{
  width: 40%;
  position: absolute;
  left: 30%;
}

.Footer
{
  position: absolute;
  top: 100%;
  left: 38%;
}

.accordion
{
  position: absolute;
  top: 65%;
  left: 24%;
  margin: 1%;
  padding: 1%;
  width: 50%;
}

.accordion-button:active
{
  background-color: #dbd8f0;
}
